* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c7a1c4 0%, #a885a5 50%, #2b1d31 100%);
}

.back-button {
    position: absolute;
    top: 40px;
    left: 40px;
    background: rgba(255, 255, 255, 0.3);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.main-card {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(25px) !important;
    -webkit-backdrop-filter: blur(25px);

    width: 450px !important;
    min-height: 550px !important;
    border-radius: 50px !important;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
}

.form-container {
    flex: 1 !important;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    color: #232338 !important;
    margin-bottom: 40px;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 1px;
}

form {
    width: 100%;
}

.input-field {
    width: 100%;
    border-bottom: 1.5px solid #fff !important;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.input-field input {
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    color: #fff !important;
    ;
}

.input-field input::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

.input-field i {
    color: #fff !important;
    ;
    font-size: 1.1rem;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    border: none;
    background: #232338;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.footer-text {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #4a3a4b;
    cursor: pointer;
}

.image-container {
    display: none !important;
}

.illustration {
    width: 90%;
    height: 90%;
    background: url('../images/poza7.png') no-repeat center center/contain;
    background-color: #1a1a2e;
    border-radius: 30px;
}

.fundal {
    background-image: url("../images/poza_fundal.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

.buton_start {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 450px;
    margin-left: 100px;
}

.buton_start img {
    width: 400px;
    transition: transform 0.2s;
}

.buton_start img:hover {
    transform: scale(1.1);
}

.fundal_nivel {
    background-image: url("../images/poza_fundal_nivel.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-viata {
    position: fixed;
    gap: 10px;
    flex-direction: row;
    top: 20px;
    left: 20px;
    display: flex;
    z-index: 100;
}

.inima {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.inima.plina {
    background-image: url("../images/poza_inima.png");
}

.inima.lovita {
    background-image: url("../images/poza_inima2.png");
    transform: scale(0.8);
    filter: grayscale(100%);
}

.fundal_nivel {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../images/poza_fundal_nivel.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#vrajitoare {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 150px;
}

#container-fantoma {
    position: absolute;
    right: -250px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: none !important;
}

.inima.lovita {
    background-image: url("../images/poza_inima2.png") !important;
    transform: scale(0.9);
    filter: brightness(0.6);
}

#bubble-cuvant {
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #555;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

#bubble-cuvant::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: white transparent;
}

.zona-input {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#raspuns-utilizator {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#ecran-final {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.continut-final {
    background: #232338;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: white;
    border: 2px solid #c7a1c4;
}

#scor {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#iesire {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.4); 
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.ascuns {
    display: none !important;
}

#btn-exit {
    background: #6c757d; 
    color: white;
}

#btn-exit:hover {
    background: #5a6268;
    transform: scale(1.05);
}

.butoane-final button {
    padding: 10px 25px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

#btn-restart {
    background: #ff4d4d;
    color: white;
}

#btn-next {
    background: #4caf50;
    color: white;
}

#personaj {
    position: fixed;
    bottom: 15px;
    left: 290px;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    background-image: url("../images/idle.png");
}

.stare-speciala {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgb(6, 252, 39));
    transition: 0.3s;
}

.stare-speciala-rosie {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgb(252, 6, 6));
    transition: 0.3s;
}

.inima.lovita {
    background-image: url("../images/poza_inima2.png") !important;
    transform: scale(0.8);
    filter: grayscale(100%) brightness(0.6);
}

.fantoma-rosie {
    filter: drop-shadow(0 0 25px red) brightness(0.7);
}


.fantoma-verde {
    filter: drop-shadow(0 0 25px lime) brightness(1.2);
}


.fantoma-inghetata-verde {
    filter: drop-shadow(0 0 35px lime) brightness(0.5);
    transform: scale(1.1);
    transition: 0.3s;
}


.personaj-lovit {
    filter: drop-shadow(0 0 25px red) brightness(0.6);
}